
.tabla{
    width: 24%;
    margin: 0.5%;
    /* padding: 0.5%; */
    display: block;
    float: left;
    background-color: black;
    /* border: 5px solid black; */
    border: 5px solid rgb(210,210,210);
    border-radius: 5px;
}

.tabla-seleccionada {
    border: 5px solid rgb(60,60,60);
}
/* mat-grid-tile-header {} */

mat-label {
    margin: auto;
    display: block;
    background-color: white;
    text-align: center;
    border-bottom: 2px solid black;
    text-overflow: ellipsis;
    text-anchor: end;
}

mat-grid-tile {
    background: rgb(180,180,180);
  }

.cartasLanzadas {
    background-color: rgb(60,60,60);
    padding: 0 5px;
}

.carta{
    width: 100%;
}

.cartaSalida{
    background-color: brown;
    display: block;
    border-radius: 20px;
    padding: 5px;
    width: 96%;
    box-sizing: border-box;
    text-align: center;
}

.cartaPorSalir {
    color: black;
}

/* .cartaPorSalir::before{
} */

.colocarFicha{
    width: 80%;
    /* display: block; */
    position: absolute;
    /* float: left; */
    top: 10px;
    left: 10px;
    /* background: url('../../../assets/img/fichas/azul.png') no-repeat; */
    padding: 10px;z-index: 9999;
}

.ficha-colocada{
    transform: scale(1.2);
    transition: 500ms;
}

.ficha{
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    transition: 1s;
}