<!-- <div cdkDropListGroup class="drop-list-group">
    <div class="example-container">
      <div
        cdkDropList cdkDropListOrientation="horizontal"  
        [cdkDropListData]="row0"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let row of row0" cdkDrag>{{ row }}</div>
      </div>
    </div>

    <div class="example-container">
      <div
        cdkDropList cdkDropListOrientation="horizontal"
        [cdkDropListData]="row1"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let row of row1" cdkDrag>{{ row }}</div>
      </div>
    </div>

    <div class="example-container">
      <div
        cdkDropList cdkDropListOrientation="horizontal"
        [cdkDropListData]="row2"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let row of row2" cdkDrag>{{ row }}</div>
      </div>
    </div>

    <div class="example-container">
      <div
        cdkDropList cdkDropListOrientation="horizontal"
        [cdkDropListData]="row3"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let row of row3" cdkDrag>{{ row }}</div>
      </div>
    </div>
  </div>

  <div cdkDropListGroup class="drop-list-group">
    <div class="example-container">
  
      <div
        cdkDropList
        [cdkDropListData]="row0"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of row0" cdkDrag>{{item}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <div
        cdkDropList
        [cdkDropListData]="row1"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of row1" cdkDrag>{{item}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <div
        cdkDropList
        [cdkDropListData]="row2"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of row2" cdkDrag>{{item}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <div
        cdkDropList
        [cdkDropListData]="row3"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of row3" cdkDrag>{{item}}</div>
      </div>
    </div>
  
  </div> -->

  <!-- <div cdkDropListGroup class="example-boundary">
    <div class="example-container">
  
      <div
        cdkDropList
        [cdkDropListData]="row0"
        class="example-list"
        (cdkDropListDropped)="dropOrigin($event)" (cdkDropListDropped)="dropDestination($event)">
        <div class="example-box" cdkDragBoundary=".example-boundary" *ngFor="let item of row0" cdkDrag>{{item}}</div>
      </div>
    </div>
  
    <div class="example-container">
  
      <div
        cdkDropList
        [cdkDropListData]="row1"
        class="example-list"
        (cdkDropListDropped)="dropOrigin($event)" (cdkDropListDropped)="dropDestination($event)">
        <div class="example-box" cdkDragBoundary=".example-boundary" *ngFor="let item of row1" cdkDrag>{{item}}</div>
      </div>
    </div>
    <div class="example-container">
  
      <div
        cdkDropList
        [cdkDropListData]="row2"
        class="example-list"
        (cdkDropListDropped)="dropOrigin($event)" (cdkDropListDropped)="dropDestination($event)">
        <div class="example-box" cdkDragBoundary=".example-boundary" *ngFor="let item of row2" cdkDrag>{{item}}</div>
      </div>
    </div>
  
    <div class="example-container">
  
      <div
        cdkDropList
        [cdkDropListData]="row3"
        class="example-list"
        (cdkDropListDropped)="dropOrigin($event)" (cdkDropListDropped)="dropDestination($event)">
        <div class="example-box" cdkDragBoundary=".example-boundary" *ngFor="let item of row3" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
   -->