<!-- <div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.nombre">
  </mat-form-field>
</div> -->

<form novalidate class="example-form" (ngSubmit)="onSubmit()" [formGroup]="formGroup">

    <h1 mat-dialog-title align="center">{{modoEdicion? 'Editar Sala': 'Agregar Sala'}}</h1>

    <div mat-dialog-content>
      
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" >
          <mat-label>Nombre</mat-label>
          <input matInput required autocomplete="name" type="text" formControlName="nombre">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" >
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.nombre" >
                    {{tipo.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field></td>
      </tr></table>
      
      <table class="example-full-width" cellspacing="0"><tr>

        <td><mat-form-field class="example-full-width" >
          <mat-label>Jugadores Minimo</mat-label>
          <input #txtJugadoresMin matInput required autocomplete="name" 
                  type="number" formControlName="jugadoresMin">
        </mat-form-field></td>

        <td><mat-form-field class="example-full-width" >
          <mat-label>Jugadores Maximo</mat-label>
          <input #txtJugadoresMax matInput required autocomplete="name" 
                  type="number" formControlName="jugadoresMax">
        </mat-form-field></td>

      </tr></table>
      
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-checkbox #protegida required class="example-margin" formControlName="protegida">Protegida</mat-checkbox></td>
        <td><mat-form-field class="example-full-width" >
          <mat-label>Contraseña</mat-label>
          <input matInput autocomplete="name" type="password" formControlName="contra">
        </mat-form-field></td>
      </tr></table>
      
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" >
          <mat-label>Jugador</mat-label>
          <mat-select formControlName="creador">
              <mat-option *ngFor="let jugador of jugadores" [value]="jugador.id" >
                  {{jugador.nombre}}
              </mat-option>
          </mat-select>
        </mat-form-field></td>
      </tr></table>
            
    </div>
      <div mat-dialog-actions align="end">
        <button mat-button color="accent" type="button" (click)="onNoClick()">Cancelar</button>
        <button mat-button color="primary" [mat-dialog-close]="data.sala" type="submit">Guardar</button>
      </div>
  </form>
  